#cssmenu
{
    width:auto;
    display:block;
    text-align:center;
    font-family:Oswald;
    line-height:1.2;
}
#cssmenu ul
{
    width:auto;
    display:block;
    font-size:0;
    text-align:center;
    color:#b30c0c;
    background-color: #333333;
    border: transparent;
    margin:0; 
    padding:0;
    list-style:none;
    position:relative;
    z-index:999999990;
    border-radius: 36px;
} 

#cssmenu li
{
    display:inline-block;
    position:relative;    
    font-size:0; 
    margin:0;
    padding:0;
}

/*Top level items
---------------------------------------*/

#cssmenu >ul>li>a 
{   
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:14px 20px; 
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;
    display:block;   
    position:relative;
    transition:all 0.3s;
}
#cssmenu li:hover > a
{  
    color:#333333;
    background-color:#F3F3F3;
}
